parameters:
  level: 9
  paths:
    - src
    - shell-command.php
  scanDirectories:
    - vendor/wp-cli/wp-cli/php
  scanFiles:
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - identifier: class.notFound
    - identifier: missingType.property
    - identifier: missingType.parameter
    - identifier: missingType.return
